body {
  margin: 0;
}

#container {
  background-color: blue;
  background-image: url(http://vignette2.wikia.nocookie.net/spongebobfanon/images/e/e8/1000x1000.jpg/revision/latest?cb=20140621172935);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.food {
  background-color: red;
  height: 30px;
  width: 30px;
  position: absolute;
  transform: translate(-50%,-50%);
}

#fish {
  background-image: url(img/Fish.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: pink;*/
  width: 100px;
  height: 50px;
  position: absolute;
  transition: all .3s linear;
  transform-origin: center left;
  transform: translateY(-50%);
}

.food#food-0 {
  top: 10vh;
  left: 30vw;
}


.food#food-1 {
  top: 20vh;
  left: 50vw;
}


.food#food-2 {
  top: 70vh;
  left: 10vw;
}


.food#food-3 {
  top: 40vh;
  left: 80vw;
}
